<div class="right-comments-input-wrapper">
    <div class="right-comment-btn">{{ _ "pagecomments-comments-send-comment" }}</div>
    <div class="right-comments-user-icon-current"></div>
    <div class="right-comments-input-box">
        <input type="text"/>
    </div>
</div>