<li class="well well-primary">
    <div class="row">
        <div class="col-md-3">
            <a href="#">
                <i class="fa fa-user-secret fa-inverse"></i>
                {{ user_name }}
            </a>
            {{ created_at }}
        </div>
        <div class="col-md-9">
            {{ comment }}
        </div>
    </div>
</li>