{{# comments }}
<div class="right-comments-comment-block">
    <div class="right-comments-user-icon"></div>
    <div class="right-comments-user-name">{{ user_name }}</div>
    <div class="right-comments-comment">{{ comment }}</div>
</div>
{{/ comments }}